body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9fafb;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    color: #d1d5db;
    text-decoration: none;
}

.navbar-link:hover {
    color: #163868;
}

nav {
    background-color: #1f2937;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: #3b82f6; 
    color: #ffffff; 
    margin: 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; 
}

button a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 120%;
}


button:hover {
    background-color: #2563eb; 
}

/* Input fields */
input[type="number"] {
    padding: 0.5rem; /* Tailwind's p-2 */
    border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    margin-right: 0.5rem; /* Tailwind's mr-2 */
}

h1 {
    color: white;
    font-size: 180%;
    margin: 15px;
}